%h2.card-title Lists:
%h4
  .align-center= link_to t('books_lists.create.create_label'), new_user_list_path
- if @lists.count == 0
  %h4
    .align-center= t('books_lists.empty')
- else
  - @lists.each do |list|
    .card.mb-2
      .card-body
        .align-center= link_to list.name, user_list_path(current_user, list)
        .align-right= link_to t('books_lists.delete.delete_label'), user_list_path(current_user, list), data: { |
              turbo_method: :delete,                                       |
              turbo_confirm: "Are you sure?"                               |
            }, class: "text-danger"                                        |
