%h2.card-title Lists:
%h4
  .align-center= link_to t('.add_list'), new_user_list_path
- if @lists.blank?
  %h4
    .align-center= t('.empty')
- else
  - @lists.each do |list|
    .card.mb-2
      .card-body
        .align-center= link_to list.name, user_list_path(current_user, list)
        .align-right= link_to t('.delete_list'), user_list_path(current_user, list), data: { |
              turbo_method: :delete,                                       |
              turbo_confirm: "Are you sure?"                               |
            }, class: "text-danger"                                        |
