<h2 class='card-title'>Lists:</h2>
  <h4><div class="float-center"><%= link_to "Add list", new_user_list_path %></div></h4>

<% if @lists.count == 0 %>
  <h4><div class="float-center">No lists yet</div></h4>
<% else %>
  <% @lists.each do |list| %>
    <div class="card mb-2">
      <div class="card-body">
        <div class="float-center"><%= link_to list.name, user_list_path(current_user, list) %></div>
      </div>
    </div>
  <% end %>
<% end %>