= simple_form_for [current_user, @list], defaults: { input_html: { class: 'mb-2' } } do |f|
  = f.input :name, placeholder: t('.name'), label: t('.add_list')
  = f.button :submit, class: 'btn btn-outline-success mb-2'
  = link_to t('.back'), user_lists_path, class: 'btn btn-outline-secondary btn-sm'