%h5.align-center= @facade.list_name
- if @facade.books_list.empty?
  %h6.align-center= t('.empty')
= render "shared/books_card", books: @facade.books_list do |book|
  =  link_to t('.delete'), books_list_path(book_id: book, list_id: @list.id), method: :delete