%h5.align-center= @list.name
- if @books.empty?
  %h6.align-center= t('.empty')

.row
  - @books.each do |book|
    = render "shared/book_card", book: book do
      =  link_to t('.delete'), books_list_path(book_id: book, list_id: @list.id), method: :delete