%h1
  Welcome to library, #{@user.email}
%p
  Thank you for registering, now you can browse all books, create custom book lists and add them to your favorites on this site
  %br/
%p Thanks for joining and have a great day!