%h5.align-center= t('favorites.users')
- if @favorite_books.blank?
  %h6.align-center= t('empty')
= render "shared/books_card", books: @favorite_books, which_controller: 'favorites', additional_component: false, delete: true
