.row
  - books.each do |book|
    .card.text-center.mx-auto.mb-3.style
      - if book.cover.attached?
        = link_to image_tag( book.cover, width: "250pt" ), book_path(book), class: "card-img-top"
      - else
        = link_to image_tag( "NoBookCover.png", width: "250pt" ), book_path(book), class: "card-img-top"
      .card-body
        = book.title
        %br/
        = yield(book) if block_given?
