.align-center
  - if user_signed_in? && current_user.admin?
    = link_to t('book.edit'), edit_book_path(book)
    = link_to t('book.delete'), book_path(book), method: :delete, data: { confirm: t('confirmation') }, class: "text-danger"
  - else
    %strong Favorite:
    - if !user_signed_in? || !current_user.following_book?(book)
      = link_to image_tag("star-empty.jpg", option = {height: "25px"}), book_favorites_path(book_id: book), method: :post
    - else
      = link_to image_tag("star.jpg", option = {height: "25px"}), book_favorites_path(book_id: book), method: :delete
