- if user_signed_in?
  .align-center
    - Rating.all.each do |rating|
      - if @facade.book.rated_by?(current_user) && rating.id == RatingBook.find_by(book_id: book, user_id: current_user).rating_id
        = link_to rating.title, rating_book_path(id: book, rating_id: rating), method: :delete, class: "btn btn-success"
      - else
        = link_to rating.title, rating_books_path(id: book, rating_id: rating), method: :post, class: "btn btn-primary"
= pie_chart @facade.book_rating(book)