.align-center
  %strong= t('.favorite')
  - if !user_signed_in? || !@facade.user_follow?(book)
    = link_to image_tag('star-empty.jpg', option = {height: '25px'}),
      book_favorites_path(book_id: book), method: :post
  - else
    = link_to image_tag('star.jpg', option = {height: '25px'}),
      book_favorites_path(book_id: book), method: :delete
