<h3>Search Books</h3>

<% if @results.blank? %>
  <strong>Results not found</strong>
  <br>
<% end %>

<%= render "shared/books_card", books: @results %>

<%= link_to "Back", root_path, class: 'btn btn-outline-secondary btn-sm'%>