%h3= t('.search')
- if @results.blank?
  %strong= t('.search_result_error')
  %br/

.row
  - @results.each do |book|
    = render "shared/book_card", book: book

= link_to t('.back'), root_path, class: 'btn btn-outline-secondary btn-sm'
